* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    padding: 0 1rem;
}

header {
    background-color: #004d00;
    color: white;
    padding: 1rem 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem 0;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: #006400;
}

section p, address {
    margin-bottom: 1rem;
}

article {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid #006400;
}

article img {
    max-width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

section#galeria img {
    width: 48%;
    margin: 1%;
    border-radius: 8px;
}

form {
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

fieldset {
    border: none;
    margin-bottom: 1.5rem;
}

legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #006400;
}

label {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus, button:focus {
    outline: 2px solid #006400;
}

button {
    background-color: #006400;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #228b22;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
    }

    form {
        max-width: 600;
        margin: 0 auto;
    }

    section#galeria img {
        width: 30%;
    }
    :focus {
        outline: 2px solid #ffcc00 !important;
        outline-offset: 3px;
    }
    .dark-mode {
    background-color: #111 !important;
    color: #eee !importatnt;
    }

    .alto-contraste {
    background-color: black !important;
    color: yellow !important;       
    }
    .alto-contraste a {
        color: cyan !important;
    }
